* {
	font-family: "Sawasdee";
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url('../img/bg.png');
}

#title {
	margin-left: 10px;
	margin-top: 10px;
}

.shadow {
	-moz-box-shadow: 0px 0px 10px 0px #ddd;
	-webkit-box-shadow: 0px 0px 10px 0px #ddd;
	box-shadow: 0px 0px 10px 0px #ddd;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=0, Color='#dddddd')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=0, Color='#dddddd');
}

.box {
	/* background-image: url('fbg.png'); */
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#master-controls {
	text-align: center;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.button {
	margin: 2px;
	display: inline-block;
}

.audio-switch {
	width: 38px;
	height: 38px;
	background-image: url('../img/audio.png');
}

.audio-switch:hover {
	background-image: url('../img/audio-hover.png');
}

.audio-switch.mute {
	background-image: url('../img/audio-mute.png');
}

.audio-switch.mute:hover {
	background-image: url('../img/audio-mute-hover.png');
}

#audio-master {
}

#add-blob {
	width: 38px;
	height: 38px;
	background-image: url('../img/add.png');
}

#add-blob:hover {
	background-image: url('../img/add-hover.png');
}

.blob .audio-switch{
	float: right;
}

.remove-blob {
	width: 38px;
	height: 38px;
	background-image: url('../img/remove.png');
	float: right;
}

.remove-blob:hover {
	background-image: url('../img/remove-hover.png');
}

#blobs {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	max-width: 1024px;
	text-align: center;
}

.blob {
	width: 300px;
	margin: 10px;
	display: inline-block;
	padding: 5px;
}

textarea, input {
	border: 1px solid #ccc;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: white;	
	margin: 6px;
	font-family: "ProggyCleanSZBP";
	font-size: 16px;
	padding: 2px;
}

ul {
	margin-left: 2em;
}

.blob-equation {
	width: 280px;
}

#bpm {
	width: 2em;
}

.widget-container {
	float: left;
}

.volume.widget-container {
}

.pan.widget-container {
	margin-left: -74px;
	margin-top: 20px;
}

.slider {
	width: 72px;
	height: 16px;
	background-color: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #ccc;
	display: inline-block;
}

.slider-handle {
	height: 100%;
	width: 10px;
	background-color: #1a1a1a;
	position: relative;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.slider-name {
	position: relative;
	float: left;
	display: inline-block;
	width: 100%;
	color: #aaa;
	font-size: 0.75em;
}

#sourcelink {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
}

.tweet {
	width: 38px;
	height: 38px;
	background-image: url('../img/tweet.png');
	float: right;
}

.tweet:hover {
	background-image: url('../img/tweet-hover.png');
}

#rtfm-popup {
	width: 38px;
	height: 38px;
	background-image: url('../img/rtfm.png');
}

#rtfm-popup:hover {
	background-image: url('../img/rtfm-hover.png');
}

#rtfm {
	width: 800px;
	padding: 1em;
	max-height: 400px;
	overflow-y: scroll;
	position: absolute;
	left: 50%;
	margin-left: -400px;
	z-index: 1;
	top: 64px;
}

#rtfm-close {
	width: 38px;
	height: 38px;
	background-image: url('../img/remove.png');
	float: right;
}

#rtfm-close:hover {
	background-image: url('../img/remove-hover.png');
}

iframe.twitter-timeline {
	position: fixed;
	bottom: -556px;
	right: 200px;
}
