[submodule "sink"]
	path = sink
	url = https://github.com/jussi-kalliokoski/sink.js.git
[submodule "js-expression-eval"]
	path = js-expression-eval
	url = https://github.com/silentmatt/js-expression-eval.git
