<h3>Variables</h3>
<ul>
	<li>t - a variable that moves at the same rate as time itself.</li>
	<li>b - a variable that moves at the rate of bpm.</li>
	<li>c - a variable that is 0 on the left channel and 1 on the right.</li>
</ul>

<h3>Constants</h3>
<ul>
	<li>PI - π ~= 3.14159...</li>
	<li>E - e ~= 2.71828...</li>
</ul>

<h3>Operators</h3>
<ul>
	<li>+</li>
	<li>-</li>
	<li>*</li>
	<li>/</li>
	<li>%</li>
	<li>^ - alias of pow(a, b).</li>
</ul>

<h3>Functions</h3>
<ul>
	<li>sin(x)</li>
	<li>cos(x)</li>
	<li>tan(x)</li>
	<li>asin(x)</li>
	<li>acos(x)</li>
	<li>atan(x)</li>
	<li>sqrt(x)</li>
	<li>log(x)</li>
	<li>abs(x)</li>
	<li>ciel(x)</li>
	<li>floor(x)</li>
	<li>round(x)</li>
	<li>exp(x)</li>
	<li>mtof(x) - midi note number to frequency.</li>
	<li>random(a) - random number between 0 and a (where a defaults to 1).</li>
	<li>fac(a) - a factorial.</li>
	<li>max(a, b, c, ...) - largest of the given numbers.</li>
	<li>min(a, b, c, ...) - smallest of the given numbers.</li>
	<li>pyt(a, b) - hypotenuse of a and b.</li>
	<li>pow(a, b) - a raised to the power of b.</li>
	<li>atan2(a, b)</li>
</ul>
