@font-face {
	font-family: 'ProggyCleanSZBP'; 
	src: url('ProggyCleanSZBP.eot');
	src: url('ProggyCleanSZBP.eot?#iefix') format('embedded-opentype'),
	url('ProggyCleanSZBP.ttf') format('truetype');
}
